@using System.Web.UI.WebControls
@using WebGoat.MVC.Models
@model XssViewModel
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = "Xss Example";
}

@using (Html.BeginForm("Index", "Xss", FormMethod.Get)){
@Html.EditorFor(m => m.Content)
    <input type="submit" value="submit">
}

<h1>Content:</h1>
@Model.Content



