
@{
    ViewBag.Title = "Online WebGoat.MVC Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    <div style="background-color: #558EDF; color: #FFFFFF; font-size: 180%; padding: 6px; padding-top: 8px; font-weight: bold; border: 3px solid #204A7F; border-right: none; border-left: none; margin: 0;">OWASP Top 10 Application Security Risks - 2013</div>
<p>
    <br />
</p>
<table class="owasp-summary">
    <tr>
        <td class="title">
            A1-Injection
        </td>
        <td>
            Injection flaws, such as SQL, OS, and LDAP injection occur when untrusted data is sent to an interpreter as part of a command or query. The attacker’s hostile data can trick the interpreter into executing unintended commands or accessing data without proper authorization.
        </td>
        <td></td>
    </tr>
    <tr>
        <td class="title">
            A2-Broken Authentication and Session Management
        </td>
        <td>
            Application functions related to authentication and session management are often not implemented correctly, allowing attackers to compromise passwords, keys, or session tokens, or to exploit other implementation flaws to assume other users’ identities.
        </td>
        <td/>
    </tr>
    <tr>
        <td class="title">
            A3-Cross Site Scripting (XSS)
        </td>
        <td>
            XSS flaws occur whenever an application takes untrusted data and sends it to a web browser without proper validation or escaping. XSS allows attackers to execute scripts in the victim’s browser which can hijack user sessions, deface web sites, or redirect the user to malicious sites.
        </td>
        <td class="examples">
            <ul>
                <li>@Html.ActionLink("Classical XSS", "Classical", "Xss")</li>
                <li>@Html.ActionLink("JS encode", "JsEncode", "Xss")</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td class="title">
            A4-Insecure Direct Object References
        </td>
        <td>
            A direct object reference occurs when a developer exposes a reference to an internal implementation object, such as a file, directory, or database key. Without an access control check or other protection, attackers can manipulate these references to access unauthorized data.
        </td>
        <td class="examples">
            <ul>
                <li>@Html.ActionLink("File Access", "Index", "DirectRef")</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td class="title">
            A5-Security Misconfiguration
        </td>
        <td>
            Good security requires having a secure configuration defined and deployed for the application, frameworks, application server, web server, database server, and platform. Secure settings should be defined, implemented, and maintained, as defaults are often insecure. Additionally, software should be kept up to date.
        </td>
    </tr>
    <tr>
        <td class="title">
            A6-Sensitive Data Exposure
        </td>
        <td>
            Many web applications do not properly protect sensitive data, such as credit cards, tax IDs, and authentication credentials. Attackers may steal or modify such weakly protected data to conduct credit card fraud, identity theft, or other crimes. Sensitive data deserves extra protection such as encryption at rest or in transit, as well as special precautions when exchanged with the browser.
        </td>
    </tr>
    <tr>
        <td class="title">
            A7-Missing Function Level Access Control
        </td>
        <td>
            Most web applications verify function level access rights before making that functionality visible in the UI. However, applications need to perform the same access control checks on the server when each function is accessed. If requests are not verified, attackers will be able to forge requests in order to access functionality without proper authorization.
        </td>
    </tr>
    <tr>
        <td class="title">
            A8-Cross-Site Request Forgery (CSRF)
        </td>
        <td>
            A CSRF attack forces a logged-on victim’s browser to send a forged HTTP request, including the victim’s session cookie and any other automatically included authentication information, to a vulnerable web application. This allows the attacker to force the victim’s browser to generate requests the vulnerable application thinks are legitimate requests from the victim.
        </td>
    </tr>
    <tr>
        <td class="title">
            A9-Using Components with Known Vulnerabilities
        </td>
        <td>
            Components, such as libraries, frameworks, and other software modules, almost always run with full privileges. If a vulnerable component is exploited, such an attack can facilitate serious data loss or server takeover. Applications using components with known vulnerabilities may undermine application defenses and enable a range of possible attacks and impacts.
        </td>
    </tr>
    <tr>
        <td class="title">
            A10-Unvalidated Redirects and Forwards
        </td>
        <td>
            Web applications frequently redirect and forward users to other pages and websites, and use untrusted data to determine the destination pages. Without proper validation, attackers can redirect victims to phishing or malware sites, or use forwards to access unauthorized pages.
        </td>
    </tr>
</table>
<h2> <span class="mw-headline" id="References">References</span></h2>
<ul>
    <li><a href="https://www.owasp.net">OWASP</a></li>
</ul>
<p>
    <br />
</p>
<div align="center">
</div>


